<!DOCTYPE html>
<html lang="en">
<head>
    {% load django_bootstrap5 %}
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <title>Password Bank Saver</title>
</head>
<body>
{% if user.is_authenticated %}
    <nav class="navbar fixed-top navbar-expand-lg bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link" aria-current="page" href="{% url 'home.html' %}">Home</a>
            <a class="nav-link" href="{% url 'insert_Password.html' %}">Add New Password</a>
            <a class="nav-link" href="{% url 'update_Password.html' %}">Update/Delete</a>
            <a class="nav-link" href="{% url 'view.html' %}">View All Password</a>
            <a class="nav-link" href="{% url 'logout.html' %}">Logout</a>
          </div>
        </div>
      </div>
    </nav>
{% else %}
    <nav class="navbar fixed-top navbar-expand-lg bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link" href="{% url 'login.html' %}">Login</a>
            <a class="nav-link" href="{% url 'register.html' %}">Register</a>
          </div>
        </div>
      </div>
    </nav>
{% endif %}
    //testing
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</body>
</html>